body {
  margin-top: 20px;
}
.menu {
  margin-bottom: 20px;
}

.ui.vertical.menu {
  width: auto;
}

.ui.vertical.menu .item:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.ui.vertical.menu .search:hover {
  cursor: inherit;
  background-color: inherit;
}
.card .card_values {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui.card > .content:after,
.ui.cards > .card > .content:after {
  content: none;
}

.ui.rating i {
  outline: none;
}

.ui.cart_button,
.ui.button:hover,
.ui.button:active,
.ui.menu:not(.vertical) .item > .button {
  background: transparent;
}

.ui.positive.button:hover,
.ui.positive.buttons .button:hover {
  background-color: #17a037;
}

.ui.positive.button:active,
.ui.positive.buttons .button:active {
  background-color: #169132;
}

.ui.popup .cart_item {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.book_text {
  width: 70%;
}

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}
