body {
  margin-top: 20px;
}

.menu {
  margin-bottom: 20px;
}

.ui.vertical.menu {
  width: auto;
}

.ui.vertical.menu .item:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.ui.vertical.menu .search:hover {
  cursor: inherit;
  background-color: inherit;
}
